node_modules
.vscode
coverage 
.DS_Store
quick-start/docker-compose.yml
quick-start/node-server/package-lock.json

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache
