ckbox:
  secret:
    data:
      DATABASE_HOST: ckbox-mysql
      DATABASE_USER: root
      DATABASE_PASSWORD: root-password
      REDIS_HOST: ckbox-redis-master
      ENVIRONMENTS_MANAGEMENT_SECRET_KEY: secret
      STORAGE_DRIVER: database
      LICENSE_KEY:
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: 10m
      nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    hosts:
      - host: ckbox.organization.test
        paths:
          - path: /
  readinessProbe:
    initialDelaySeconds: 60

mysql:
  enabled: true
  image:
    tag: "8.0"
  auth:
    database: ckbox-on-premises
    auth: ckbox
    password: password
    rootPassword: root-password
  commonLabels:
    app.kubernetes.io/part-of: ckbox

redis:
  enabled: true
  cluster:
    enabled: true
  auth:
    enabled: false
  commonLabels:
    app.kubernetes.io/part-of: ckbox

common:
  names:
    fullname: ckbox
  capabilities:
    deployment:
      apiVersion: apps/v1
    statefulset:
      apiVersion: apps/v1
