version: '2.2'
services:
  mysql-database:
    image: mysql:5.7.38
    platform: linux/amd64
    container_name: quick-start-mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - ./docker/mysql.cnf:/etc/mysql/conf.d/mysql.cnf
  redis:
    image: redis:6.2.7
    container_name: quick-start-redis
  node-server:
    build: ./node-server/
    container_name: quick-start-node-server
    restart: always
    ports:
      - '3000:3000'
  ckeditor-cs:
    image: docker.cke-cs.com/cs:latest
    container_name: quick-start-cs
    depends_on:
      - redis
      - mysql-database
    ports:
      - '8000:8000'
    restart: always
    init: true
    dns:
      - 8.8.8.8
      - 8.8.4.4
    environment:
      DATABASE_HOST: mysql-database
      DATABASE_USER: root
      DATABASE_PASSWORD: password
      REDIS_HOST: redis
      ENVIRONMENTS_MANAGEMENT_SECRET_KEY: secret
      LICENSE_KEY: >-
        dc68c...ae35179a
      STORAGE_DRIVER: filesystem
      STORAGE_LOCATION: /var/cs/easyimage
    volumes:
      - ~/easyimage_files:/var/cs/easyimage
